.header {
    width: 1100px;
    height: 293px;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
}

ul {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    display: flex;
    gap: 32px;
    height: 22px;
    margin-top: 133px;
    margin-left: 50px;
    margin-bottom: 138px;
    /* justify-content: space-between; */
    margin-right: 36.52px;
    list-style-type:circle;
}

.nav-main {
   list-style-type:none;
}

address {

max-width: 240px;
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
color: #000000;
margin-right: 50px;
margin-left: 184px;
margin-top: 95px;
margin-bottom: 100px;
}

.logo-head {
    width: 148px;
    height: 105px;
}

.cover {
    width: 1100px;
    height: 757px;
}